.birthday-btn{
    width: 100%;
    padding-right:0px !important;
    padding-left:0px !important;

}

.collection-item,.collection {    margin-top: 10px !important;
    border: none !important;}

.no-margin {
    margin: 0;
}

img {
    max-width: 75% !important;
}

.logo{
    max-width: 30px!important;
}